.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
  border:1px solid transparent;
}
.storybook-button--secondary {
  color: #000;
  background-color: transparent;
  border:1px solid transparent;
}

.storybook-button--text {
  border: 0px solid transparent;
  background-color: transparent ;
}
.storybook-button--text:hover {
  border: 0px solid transparent;
  background-color: transparent ;
  text-decoration: underline;
}


.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
